.bg-nav-color{
    background-color:rgb(93, 3, 3);
}
.txt-nav-color{
    color:rgb(219, 222, 224)
}
body{
    margin: 0 !important;
    width: 100vw;
    padding: 0 !important;
}
footer .card{
    background-color: rgb(27, 35, 41) !important;
    border-radius: 0;
}
footer .card-body{
    height: 200px;
    text-align: center;
    color:rgba(255,255,255, 0.8) !important;
    
}

footer .card-body a{
    color:rgba(255,255,255, 0.8) !important;
    text-decoration: none;
}



footer .card-header{
    background-color: rgb(17, 25, 31) !important;
    text-align: center;
}
footer .card-header a{
    text-decoration: none;
    color:white;
    margin:0 10px;
    font-size:20px
}

footer .card-header a:hover{
    color:red
}

main .row{
    padding: 0 100px !important;
}

main h2{
    margin: 30px 100px 60px 100px;
}
main table, main table tr, main table tr td, main table tr th{
    border:1px solid black
}
main table td{
    padding:5px !important;
}
main table th{
    text-align: center;
}
main table td h3{
    text-align: center;
}
main table{
    margin: 50px auto 100px auto;
}
main table tr{
    transition: ease 1s;
}
main table tr:hover{
    background-color: grey;
    cursor: pointer;
}
.titulo-tarifas{
    background-color: rgb(173, 193, 248);
}
main form{
    margin:50px auto !important;
    width: 80% !important;
    padding: 10px !important;
    border: 1px solid silver;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
main form textarea{
    resize: none;/*bloquear o redimensionamento da caixa de observacao*/
}
main form button{
    display: block !important;
    margin: 20px auto !important;
}
